## Brief review of nltk
### Please solve the following exercises.

1. Read the data available in the file 'elonmusk_tweets.csv' that contains tweets by Elon Musk between 2010 and 2017. Display the first few lines to get an idea of the contents.

In [7]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import pandas_datareader.data as web
import os
from bs4 import BeautifulSoup, SoupStrainer
import re
import requests
import time

In [13]:
try:
    os.mkdir('data')
except: print('Directory already exists!')

Directory already exists!

In [14]:
file = 'data/elonmusk_tweets.csv'
df1 = pd.read_csv(file)
df1

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
...,...,...,...
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw'
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T..."
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o..."
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some..."

2. Create a string object containing the content of all tweets and show the first 1000 characters.

In [15]:
twt_str=str(df1.text)
twt_str[:1000]

'0       b\'And so the robots spared humanity ... https:...\n1       b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...\n2           b\'@waltmossberg @mims @defcon_5 Et tu, Walt?\'\n3                     b\'Stormy weather in Shortville ...\'\n4       b"@DaveLeeBBC @verge Coal is dying due to nat ...\n                              ...                        \n2814                 b\'That was a total non sequitur btw\'\n2815    b\'Great Voltaire quote, arguably better than T...\n2816    b\'I made the volume on the Model S http://t.co...\n2817    b"Went to Iceland on Sat to ride bumper cars o...\n2818    b\'Please ignore prior tweets, as that was some...\nName: text, Length: 2819, dtype: object'

3. Remove all stopwords, turn the text to lower case, and create an NLTK object of the tweets.

In [20]:
import nltk

from nltk.corpus import stopwords

from nltk.tokenize import word_tokenize

word_tokens = word_tokenize(twt_str)
twitter_new = [w.lower() for w in word_tokens if w.lower() not in stopwords.words('english')] 
twitter_new[0:10]

['0', "b'and", 'robots', 'spared', 'humanity', '...', 'https', ':', '...', '1']

4. Plot the frequencies of the Twitter accounts Elon Musk most frequently replied to.